
.col-darkViolet {
	color: #300030;
}
.bg-darkViolet {
	background-color: #300030;
}


.col-midViolet {
	color: #480048;
}
.bg-midViolet {
	background-color: #480048;
}


.col-lightViolet {
	color: #601848;
}
.bg-lightViolet {
	background-color: #601848;
}


.col-lovely {
	color: #C04848;
}
.bg-lovely {
	background-color: #C04848;
}


.col-redOrange {
	color: #F07241;
}
.bg-redOrange {
	background-color: #F07241;
}


.bg-lightGrey {
	background-color: #E2E1EA;
}

.bg-ghostBlue {
	background-color: #7BDFF7;
}

.bg-skyBlue {
	background-color: #7BAAF7;
}

.bg-paleBlue {
	background-color: #60B0E3;
}

.bg-plum {
	background-color: #930F40;
}