*{ outline: none; }

html {
	position: relative;
	max-width: 1366px;
	max-height: 768px;

	width: 1366px;

	min-width: 800px;
	min-height: 677px;	

	overflow-y: hidden;
	overflow-x: auto;
}


#main-pages {
	position: absolute;
	top: 0%;
	left: 0%;

	width: 100%;
	height: 100%;
}

#main-page1 {
	position: relative;

	width: 100%;
	height: 100%;

	background-image: url("main1.png");
}

#main-page2 {
	position: relative;

	width: 100%;
	height: 100%;

	background-color: #F01E42;
}

#main-page3 {
	position: relative;

	width: 100%;
	height: 100%;

	background-color: #930F40;
}

#main-page4 {
	position: relative;

	width: 100%;
	height: 100%;

	background-color: #F07241;
}

#main-page5 {
	position: relative;

	width: 100%;
	height: 100%;

	background-color: #FDBE55;
}


#box-posts {
	position: absolute;
	z-index: 99;
	top: 13%;

	height: 100%;
	width: 100%;
}

#box-post1 {
	width: 15%;
	height: 5px;
	border-top: 60px solid #300030;
	border-right: 40px solid transparent;
}

#box-post2 {
	width: 12%;
	height: 5px;
	border-top: 60px solid #480048;
	border-right: 40px solid transparent;
}

#box-post3 {
	width: 9%;
	height: 5px;
	border-top: 60px solid #601848;
	border-right: 40px solid transparent;
}

#box-post4 {
	width: 6%;
	height: 5px;
	border-top: 60px solid #C04848;
	border-right: 40px solid transparent;
}

#box-post5 {
	width: 3%;
	height: 5px;
	border-top: 60px solid #F07241;
	border-right: 40px solid transparent;
}


/*Page Elements*/
#stellar-title {
	position: absolute;
	top: 30%;
	left: 15%;
	
	width: 40%;
	height: 25%;
	
	font-size: 150px;
	font-family: Gotham Light;
	
	color: #C04848;
	background-color: none;
}

#stellar-tagline {
	position: absolute;
	top: 52%;
	left: 15.75%;
	
	width: 30%;
	height: 10.5%;
	
	font-size: 30px;
	font-family: Gotham Light;
	

	background-color: none;
}

#stellar-learn {
	position: absolute;
	top: 67.5%;
	left: 30%;
	
	width: 10%;
	height: 6%;
	
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.5);
}

#box-page5-1 {
	position: absolute;
	bottom: 8%;

	width: 100%;
	height: 32%;
	padding: 0%;
	margin: 0%;

	background-color: #000000;	
	opacity: 0.7;
}

#box-page5-about {
	display: block;
	position: absolute;
	bottom: 50%;
	left: 7.5%;

	width: 85%;
	height: 42%;
	padding: 1%;
	margin: 0%;
	
	font-size: 30px;
	font-family: Gotham Light;

	border-radius: 5px;
	background-color: #FFF;	
	background-color: rgba(0, 0, 0, 0.5);
}

#box-page5-credits {
	display: none;
	position: absolute;
	bottom: 50%;
	left: 7.5%;

	width: 85%;
	height: 42%;
	padding: 1%;
	margin: 0%;
	
	font-size: 30px;
	font-family: Gotham Light;

	background-color: #FFF;	
	background-color: rgba(0, 0, 0, 0.5);
}

#box-page5-developers {
	display: none;
	position: absolute;
	bottom: 50%;
	left: 7.5%;

	width: 85%;
	height: 42%;
	padding: 1%;
	margin: 0%;
	
	font-size: 30px;
	font-family: Gotham Light;

	background-color: #FFF;	
	background-color: rgba(0, 0, 0, 0.5);
}

#box-page5-1-text {
	position: absolute;
	right: 0%;

	width: 100%;
	height: 32%;
	
	padding-right: 75%;

	background-color: #000000;	
	/* opacity: 0.7; */
}


#radio-navigation {
	position: fixed;
	top: 35%;
	right: 0.75%;
	z-index: 100;
}

#radio-navigation input[type="radio"] {
    display: none;
}

#radio-navigation label {
    height: 15px;
    width: 15px;

    margin-bottom: 4px;
    display: block;    
    background-color: rgba(0, 0, 0, 0.35);

    border: 2px solid rgba(0, 0, 0, 0.35);
    border-radius: 50%;
}

#radio-navigation input[id="radio1"]:checked + label {
    background-color: #831862;
}
#radio-navigation input[id="radio2"]:checked + label {
    background-color: #811EF0;
}
#radio-navigation input[id="radio3"]:checked + label {
    background-color: #FDBE55;
}
#radio-navigation input[id="radio4"]:checked + label {
    background-color: #F01E42;
}
#radio-navigation input[id="radio5"]:checked + label {
    background-color: #930F40;
}


/*Ranking*/
#box-ranking {
	position: absolute;
	top: 8.59%;
	right: 5%;
	transform: rotate(30deg);
	transform-origin: top left;

	width: 25%;
	height: 59.24%; 
	padding: 20px;

	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: #FFFFFF;
}

#box-ranking h1 {
	position: static;
	margin: 0px;
	width: 100%;
	height: 7%;/*10.32%;*/

	background-color: #FFFFFF;
	font-size: 23px;
	font-family: Gotham Light;
	color: #300030;
}

#box-ranking1 {
	position: static;

	width: 100%;
	height: 22.41%;

	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding-top: 0px;

	background-color: #300030;
}

#box-ranking2 {
	position: static;

	width: 100%;
	height: 22.41%;

	background-color: #480048;
}

#box-ranking3 {
	position: static;

	width: 100%;
	height: 22.41%;

	background-color: #601848;
}

#box-ranking4 {
	position: static;

	width: 100%;
	height: 22.41%;

	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-bottom: 0px;

	background-color: #C04848;
}
/*-------*/


/*Suggested Users*/
#box-suggested {
	position: absolute;
	top: 61%;/*6.38%;*/
	right: 20%;
	transform: rotate(30deg);
	transform-origin: top left;

	width: 25%;
	height: 19.79%;
	padding: 20px;
	padding-bottom: 30px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #FFFFFF;
}

#box-suggested h1 {
	position: static;
	margin: 0px;

	width: 100%;
	height: 25%;

	/*background-color: #FFFFFF;*/
	font-size: 23px;
	font-family: Gotham Light;
	color: #300030;
}

#box-suggestions {
	position: static;

	width: 94%;
	height: 69%;

	background-color: #E2E1EA;
	padding-top: 6%;
	padding-left: 6%;
	border-radius: 5px;

}

#box-suggested1 {
	float: left;
	width: 16.21%;
	height: 47.36%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-suggested2 {	
	float: left;
	width: 16.21%;
	height: 47.36%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-suggested3 {
	float: left;
	width: 16.21%;
	height: 47.36%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-suggested4 {
		float: left;
	width: 16.21%;
	height: 47.36%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-suggested5 {
	float: left;
	width: 16.21%;
	height: 47.36%;

	margin-right: 2.40%;
	background-color: #300030;
}
/*-------*/



#box-postContainer {
	position: absolute;
	top: 7%;
	left: 9%;
/*	transform: rotate(5deg);
	transform-origin: top left;*/

	width: 33%;
	height: 58.53%;

	border-radius: 5px;
	padding: 1%;

	background-color: #E2E1EA;
	overflow: hidden;
}

.box-post {
	position: static;

	width: 100%;
	height: 20%;

	border-radius: 5px;
	padding: 0px;
	margin-bottom: 3.5%;

	background-color: #FFFFFF;
}

.box-postProfPic {
	position: static;

	width: 17.5%;
	height: 100%;

	border-radius: 5px;
	padding: 0px;

	background-color: #AAAAAA;
}

.box-post textarea {
	position: absolute;
	/*top: 50%;*/
	left: 22.5%;

	width: 68%;
	height: 8%;

	border-radius: 5px;
	padding: 3px;

	resize: none;
	background-color: #FFFFFF;
}
/*-------*/





/*Content*/
#box-postContent {
	position: absolute;
	top: 60%;
	left: 20%;
	z-index: 1;

	width: 37%;
	height: 20%;

	border-radius: 15px;
	border-top: 1px solid #AAAAAA;
	border-left: 1px solid #AAAAAA;
	padding: 0px;

	background-color: #FFFFFF;
}
#box-postContent-shadow {
	position: absolute;
	bottom: 0;
	left: -1px;

	width: 100%;
	height: 20%;

	border-radius: 5px;
	border-left: 1px solid #AAAAAA;
	padding: 0;

	background-color: #AAAAAA;
}
#box-postContent textarea {
	position: absolute;

	width: 95.5%;
	height: 47%;

	border-radius: 7px;
	padding: 4px;
	margin: 1.50%;
	background-color: #FFFFFF;

	font-family: Gotham Light;
	font-size: 14px;
	resize: none;
	overflow: hidden;
}

#box-postContent button {
	position: absolute;
	top: 60%;
	right: 0%;
	z-index: 1;

	width: 18%;
	height: 20%;

	border-radius: 5px;
	padding: 4px;
	border-width: 1px;
	margin: 1.50%;

	background-color: #C04848;
	color: #FFFFFF;

	font-family: Gotham Light;
	font-size: 14px;
}

#main-page2-text {
	position: absolute;
	top: 10%;
	right: 5%;
	
	width: 37.5%;
	height: 60%;
	
	font-size: 60px;
	font-family: Gotham Light;
	
	background: none;
	/* background-color: #FFF;
	background-color: rgba(0, 0, 0, 0.30); */
}

#main-page2-try {
	position: absolute;
	top: 58%;
	right: 27.5%;
	
	width: 10%;
	height: 20%;
	
	font-size: 115px;
	font-family: Gotham Light;
	
	background-color: none;
}

#main-page3-text1 {
	position: absolute;
	top: 15%;
	left: 2%;
	
	width: 50%;
	height: 10%;
	
	font-size: 50px;
	font-family: Gotham Light;
	color: #FFFFFF;
	text-align: center;
	
	background-color: none;
}

#main-page3-text2 {
	position: absolute;
	top: 40%;
	right: 18%;
	
	width: 20%;
	height: 10%;
	
	font-size: 40px;
	font-family: Gotham Light;
	color: #FFFFFF;
	text-align: center;
	
	background-color: none;
}

#main-page3-text3 {
	position: absolute;
	top: 45%;
	right: 6.25%;
	
	width: 30%;
	height: 10%;
	
	font-size: 70px;
	font-family: Gotham Light;
	color: #FFFFFF;
	text-align: center;
	
	background-color: none;
}

#main-page4-text {
	position: absolute;
	top: 5%;
	left: 5%;
	
	width: 40%;
	height: 30%;
	
	font-size: 90px;
	font-family: Gotham Light;
	
	background: none;
}

#main-page4-text2 {
	position: absolute;
	top: 67%;
	left: 5%;
	
	width: 40%;
	height: 10%;
	
	font-size: 25px;
	font-family: Gotham Light;
	
	background: none;
}
/*-------*/




/*Rating*/
.rating {
	unicode-bidi: bidi-override;
	direction: rtl;

	position: relative;
	bottom: 40%;
	right: 1%;
	font-family: Gotham Light;
	font-size: 24px;
}

.rating > span {
	display: inline-block;
	position: relative;

	color: #AAAAAA;
	width: 1.1em;
}

.rate5:hover,
.rate5:before {
	color: #300030;
}


.rate4:hover,
.rate4:before {
	color: #480048;
}

.rate3:hover,
.rate3:before {
	color: #601848;
}

.rate2:hover,
.rate2:before {
	color: #C04848;
}

.rate1:hover {
	color: #F07241; /*Red Orange*/
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
	content: "\2605";
	position: absolute;
}


#img-page3-1,  #img-page3-3{
	position: absolute;
	top: 25%;
	left: 0%;
	/*z-index: 1;*/

	width: 100%;
}
#img-page3-2 {
	position: absolute;
	top: 25%;
	left: -450px;
	width: 100%;
}
