html {
	position: relative;
	max-width: 1366px;
	max-height: 100vh;

	width: 1366px;

	min-width: 800px;
	min-height: 677px;	
}

#topBar {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 6.38%;

	background-color: #480048;
}


#topBar>a button {
	float: left;
	width: 1.75%;
	height: 55.81%;

	margin-top: 0.8%;	
	border-radius: 5px;
	padding: 0px;
	border: none;
}

#top-home {
	position: absolute;
	right: 8%;

	background-color: #601848;
}

#top-notif {
	position: absolute;
	right: 5.7%;

	background-color: #C04848;
}

#top-logout {
	position: absolute;
	right: 3.4%;

	background-color: #F07241;
}

/*Notification*/
#dropdown-notif {
	display: none;
	position: absolute;
	right: 5.7%;
	top: 5.08%;
	
	padding: 1%;
	height: 40%;
	width: 22%;
	z-index: 1;
	
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #C04848;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 1);
}

#dropdown-content {
	position: relative;
	
	height: 90%;
	width: 100%;
	padding: 1%;
	
	border-radius: 5px;
	background-color: #F07241;
	overflow-y: auto;
}

#box-notificationList-label {
	position: absolute;
	z-index: 999;
	top: 5.07%;
	left: 25.18%;
	
	width: 40.72%;
	height: 30px;

	text-align: center;
	padding-top: 1%;
	padding-left: 20px;
	padding-right: 20px;

	font-family: Gotham Light;
	font-size: 16px;

	color: #FFFFFF;
	background-color: #60B0E3;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

#box-notificationList {
	position: absolute;
	top: 11.55%;
	left: 25.18%;

	border-radius: 5px;
	padding: 1%;
	padding-left: 20px;
	padding-right: 20px;

	width: 40.72%;
	height: 80.5%;

	background-color: #E2E1EA;
	overflow-y: auto;
}

.dropdown-notiflist {
	position: static;

	width: 100%;
	height: 20%;

	border-radius: 5px;
	padding: 0px;
	margin-bottom: 1%;

	background-color: #FFFFFF;
}

.dropdown-notifProfPic {
	position: static;

	width: 20.18%;
	height: 100%;

	border-radius: 5px;
	padding: 0px;

	float: left;
	background-color: #AAAAAA;
}

.dropdown-notifProfPic img{
	width: 100%;
	height: 100%;
}
/*----------*/

/*Ads*/
#box-ad1 {
	position: absolute;
	top: 8.80%;
	left: 2.63%;

	width: 17.56%;
	height: 37.30%;

	background-color: #E2E1EA;
	padding: 0px;
	border-radius: 5px;
}

#box-ad2 {
	position: absolute;
	top: 49.78%;
	left: 2.63%;

	width: 17.56%;
	height: 37.30%;

	background-color: #E2E1EA;
	padding: 0px;
	border-radius: 5px;
}
/*-------*/

/*Search Bar*/
#search {
	position: absolute;
	top: 26.53%;
	/*right: 4%;*/
	left: 72.18%;

	width: 15.37%;
	height: 48.97%;
}

#search button {
	position: absolute;
	left: 88%;

	width: 12%;/*7.20%;*/
	height: 112%;

	
	padding-right: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px; 

	border: none;
}

#searchBar {
	position: absolute;
	width: 92.80%;
	height: 100%;

	background-color: #FFFFFF;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px; 
	padding-left: 3px;
	margin-left: -3px;

	font-size: 12px;
	font-family: Gotham Light;

	border: none;
}
/*-------*/

/*Content*/
.box-post {
	position: static;

	width: 100%;
	height: 10%;

	border-radius: 5px;
	padding: 0px;
	margin-bottom: 1%;

	background-color: #FFFFFF;
}

.box-postProfPic {
	position: static;

	width: 10.18%;
	height: 100%;

	border-radius: 5px;
	padding: 0px;

	float: left;
	background-color: #AAAAAA;
}
.notif-post {
	/* position: static;

	width: 100%;
	height: 10%;

	border-radius: 5px;
	padding: 0px;
	margin-bottom: 1%;

	background-color: #FFFFFF; */
	
	position: static;

	width: 96%;
	height: 13%;

	margin-left: 2%;
	border-radius: 5px;
	padding: 0px;
	margin-bottom: 3.5%;

	background-color: #FFFFFF;
}

.notif-postProfPic {
	position: static;

	width: 15.5%;
	height: 100%;

	border-radius: 5px;
	padding: 0px;
	margin-right: 7px;

	float: left;
	background-color: #AAAAAA;
}
.notif-postProfPic img {	
	width: 100%;
	height: 100%;
}
#notif-seemore button {
	font-family: Gotham Light;
	font-size: 15px;

	border-width: 1px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
/*--------*/





/*Ranking*/
#box-ranking {
	position: absolute;
	top: 8.59%;/*6.38%;*/
	right: 5.75%;

	/* width: 24.37%;
	height: 59.24%; /*455px*/
	
	width: 20%;/*24.37%;*/
	height: 59.24%;

	background-color: #FFFFFF;
}

#box-ranking h1 {
	position: static;
	margin: 0px;

	width: 100%;
	height: 7%;/*10.32%;*/

	background-color: #FFFFFF;
	font-size: 23px;
	font-family: Gotham Light;
	color: #300030;
}

#box-ranking1 {
	position: static;

	width: 100%;
	height: 22.41%;

	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding-top: 0px;

	background-color: #300030;
}

#box-ranking2 {
	position: static;

	width: 100%;
	height: 22.41%;

	background-color: #480048;
}

#box-ranking3 {
	position: static;

	width: 100%;
	height: 22.41%;

	background-color: #601848;
}

#box-ranking4 {
	position: static;

	width: 100%;
	height: 22.41%;

	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-bottom: 0px;

	background-color: #C04848;
}

.ranking-post {
	position: absolute;
	
	width: 95%;
	height: 19%;

	border-radius: 5px;
	padding: 0%;
	margin: 2%;

	background-color: #FFFFFF;
	background: rgba(255, 255, 255, 0.35);
}

.ranking-postProfPic {
	position: static;
	float: left;

	width: 29.18%;
	height: 90%;

	border-radius: 5px;
	padding: 0px;
	margin: 1.5%;

	background-color: #AAAAAA;
}

.ranking-post textarea {
	position: static;

	width: 85.82%;
	height: 20%;

	border-radius: 5px;
	padding: 0px;
	margin-bottom: 3.5%;

	background-color: #FFFFFF;
}
/*-------*/





/*Following/Followers*/
#text-followers, #text-following,
#text-suggestions, #text-rankings {
	position: absolute;
	
	width: 100%;
	height: 23%;

	border-top-right-radius: 5px;
	border-top-left-radius: 5px;

	background-color: #930F40;
	font-family: Gotham Light;
}
#text-rankings {
	height: 9%;
}
#text-suggestions {
	height: 18%;
	background-color: #F07241;
}

#text-following {
	background-color: #60B0E3;
}

#text-followers label, #text-following label,
#text-suggestions label, #text-rankings label{
	display: block;
	text-align: center;
	padding-top: 1%;
	color: #FFFFFF;
	font-size: 14px;
}

#text-rankings label{
	font-size: 24px;
}


#box-following {
	position: absolute;
	top: 68%;
	left: 2.63%;

	width: 17.56%;
	height: 13.80%;

	background-color: #E2E1EA;
	padding: 0px;
	border-radius: 5px;
}

#box-followingSuggestions {
	position: static;

	width: 94%;
	height: 59%;

	background-color: #E2E1EA;
	padding-top: 11%;
	padding-left: 6.25%;
	border-radius: 5px;

}

#box-following1 {
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-following2 {	
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-following3 {
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-following4 {
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-following5 {
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-followers {
	position: absolute;
	top: 84.28%;
	left: 2.63%;

	width: 17.56%;
	height: 13.80%;

	background-color: #E2E1EA;
	padding: 0px;
	border-radius: 5px;
}


#box-followerSuggestions {
	position: static;

	width: 94%;
	height: 59%;

	background-color: #E2E1EA;
	padding-top: 11%;
	padding-left: 6.25%;
	border-radius: 5px;

}

#box-follower1 {
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-follower2 {	
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-follower3 {
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-follower4 {
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-follower5 {
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}
/*-------*/





/*Suggested Users*/
#box-suggested {
	position: absolute;
	top: 70.59%;
	right: 5.75%;

	width: 20%;
	height: 19.79%;

	background-color: #FFFFFF;
}

#box-suggestions {
	position: static;

	width: 94%;
	height: 69%;

	background-color: #E2E1EA;
	padding-top: 12%;
	padding-left: 6%;
	border-radius: 5px;

}

.suggested img {
	width: 100%;
	height: 100%;
}

.suggested label {
	width: 100%;
	
	display: block;
	text-align: center;
	padding-top: 1%;

	font-family: Gotham Light;
	font-size: 9px;
}


#box-suggested1 {
	float: left;
	width: 16.21%;
	height: 47.36%;

	margin-right: 3.40%;
	background-color: #300030;
}

#box-suggested2 {	
	float: left;
	width: 16.21%;
	height: 47.36%;

	margin-right: 3.40%;
	background-color: #300030;
}

#box-suggested3 {
	float: left;
	width: 16.21%;
	height: 47.36%;

	margin-right: 3.40%;
	background-color: #300030;
}

#box-suggested4 {
		float: left;
	width: 16.21%;
	height: 47.36%;

	margin-right: 3.40%;
	background-color: #300030;
}

#box-suggested5 {
	float: left;
	width: 16.21%;
	height: 47.36%;

	margin-right: 3.40%;
	background-color: #300030;
}

#box-suggestions-name {
	position: absolute;

	top: 63%;
	width: 100%;
	height: 20%;

	background-color: transparent;
}

#box-suggestions-name label {
	position: absolute;
	left: 0%;
	
	width: 100%;
	height: 100%;
	text-align: center;
	
	border: 0;
	font-family: Gotham Light;
	color: #F07241;
	background-color: transparent;
	display: none;
}

#box-suggestions-change {
	position: absolute;

	top: 63%;
	width: 100%;
	height: 20%;

	background-color: transparent;
}
#box-suggestions-change button {
	position: absolute;
	right: 9%;

	width: 30%;
	height: 100%;

	border: 0;
	font-family: Gotham Light;
	color: #F07241;
	background-color: transparent;
}

#box-suggestions-change button:hover {
	color: #FFFFFF;
	background-color: #F07241;
}
/*-------*/