html {
	position: relative;
	max-width: 1366px;
	max-height: 100vh;

	width: 1366px;

	min-width: 800px;
	min-height: 677px;	
}

/*Search Bar*/
#search {
	position: absolute;
	top: 26.53%;
	/*right: 4%;*/
	left: 72.18%;

	width: 15.37%;
	height: 48.97%;
}

#search button {
	position: absolute;
	left: 88%;

	width: 12%;/*7.20%;*/
	height: 112%;

	
	padding-right: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px; 

	border: none;
}

#searchBar {
	position: absolute;
	width: 92.80%;
	height: 100%;

	background-color: #FFFFFF;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px; 
	padding-left: 3px;
	margin-left: -3px;

	font-size: 12px;
	font-family: Gotham Light;

	border: none;
}
/*-------*/

/*Profile Pic*/
#box-profPic {
	z-index: 999;
	position: absolute;
	top: 5.07%;
	left: 4%;
	/*left: 2.63%;*/

	width: 200px;
	height: 200px;
}

#box-profPic1 {
	position: absolute;
	left: 0%;
	top:0%;
	
	width: 86.66%;
	height: 86.66%;

	border-radius: 5px;
	padding: 0px;

	background-color: #300030;
}

#box-profPic2 {
	position: absolute;
	left: 13.34%;
	top: 13.34%;
	z-index: 100;
		
	width: 86.66%;
	height: 86.66%;

	border-radius: 5px;
	padding: 0px;
	
	background-color: #FFFFFF;
}

#box-profPicture {
	position: absolute;

	width: 90.39%;/*86.66%;*/
	height: 90.39%;/*86.66%;*/

	margin: 2.4%;
	padding: 2.4%;
	background-color: #480048;
}

#box-profPicture img {
	position: absolute;

	width: 100%;
	height: 100%;

	margin: -2.4%;
	padding: -2.4%;
}
/*-------*/





/*Profile Desc*/
#box-username {
	position: absolute;
	top: 35%;
	left: 2.63%;

	width: 17.56%;
	height: 5.20%;

	text-align: center;
	vertical-align: middle;
	line-height: 100%;

	font-family: Gotham Light;
	font-size: 22px;
	font-weight: bolder;
}

#box-fullname {
	position: absolute;
	top: 39%;
	left: 2.63%;

	width: 17.56%;
	height: 5.20%;

	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	line-height: 100%;

	font-family: Gotham Light;
	font-size: 13px;
}

.button-follow {
	position: absolute;
	top: 41.5%;
	left: 2.63%;

	width: 17.56%;
	height: 4.5%;

    background-color: #4CAF50; /* Green */
    color: #FFFFFF;
    border:  none;
    padding: 4px;

    text-align: center;
    text-decoration: none;
    font-family: Gotham Light;
    font-size: 16px;
}

.button-following {
	position: absolute;
	top: 41.5%;
	left: 2.63%;

	width: 17.56%;
	height: 4.5%;

    background-color: #60B0E3;
    color: #FFFFFF;
    border:  none;
    padding: 4px;

    text-align: center;
    text-decoration: none;
    font-family: Gotham Light;
    font-size: 16px;
}

#progressBar {
	position: absolute;
	top: 46.5%;
	left: 2.63%;

	width: 17.56%;
	height: 5.20%;

	border-radius: 3px;
    background-color: #E2E1EA; /*border*/
    
    padding: 1px;

}
.progressStyle {
	width: 100%;
	height: 100%;

    /*-webkit-appearance: none;*/
}
progress::-webkit-progress-bar {
   background-color: #FFFFFF;
}
progress::-webkit-progress-value {
     background-color: #C04848;
}
/*-------*/


/*! START:NEW !*/
#desc-box {
	position: absolute;
	top: 53%;
	left: 2.15%;

	width: 17.56%;
	height: 13%;
	border-radius: 5px;
	padding: 6px;

	font-family: Gotham Light;
	font-size: 13px;
	background-color: #E2E1EA;
	
	word-wrap: break-word;
	overflow-y: auto;
}
/*! END:NEW !*/


/*Posts*/
#box-filterView {
	position: absolute;
	top: 5.07%;
	left: 25.18%;

	width: 43.26%;
	height: 7.03%;

	border-radius: 5px;
	padding: 0px;

	background-color: #C04848;
}

#box-filterView button {
	position: static;

	width: 23%;
	height: 100%;

	background-color: #C04848;
	font-family: Gotham Light;
	font-size: 15px;
	color: #FFFFFF;

	margin-left: 1.19%;
	border: none;
}

#box-postContainer {
	position: absolute;
	top: 9.5%;
	left: 24.45%;

	width: 40.72%;
	height: 80.25%;

	border-radius: 5px;
	padding: 2%;

	background-color: #E2E1EA;
	overflow-y: auto;
}

.box-post {
	position: static;

	width: 556.23px;
	height: 88.77px;

	border-radius: 5px;
	padding: 0px;
	margin-bottom: 2%;

	background-color: #FFFFFF;
}
.box-postProfPic img {
	width: 88.77px;
	height: 88.77px;
}
.box-postLabel {
	position: absolute;
	width: 88.77px;
	
	border: 0;	
	line-height: 20px;
	text-align: center;	
	
	font-family: Gotham Light;
	font-size: 12px;
	color: #FFFFFF;
		
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: rgba(0, 0, 0, 0.70);
}
.box-postProfPic {
	position: static;
	
	margin-top: -61px;
	width: 16%;
	height: 100%;

	border-radius: 5px;
	padding: 0px;

	background-color: #AAAAAA;
}

.box-postTitle {
	display: block;

	position: static;
	width: 75%;
	height: 70%;

	margin-left: 17%;
	padding: 0px;

	font-size: 13px;
	font-family: Gotham;
	font-weight: bolder;
}
.box-postText {
	position: static;

	width: 82%;
	height: 50%;
	word-wrap: break-word;

	margin-left: 17%;
	margin-top: -45px;
	border-radius: 5px;
	padding: 0px;

	font-size: 13px;
	font-family: Gotham Light;
	overflow: auto;
}

.box-post textarea {
	position: static;

	width: 85.82%;
	height: 20%;

	border-radius: 5px;
	padding: 0px;
	margin-bottom: 3.5%;

	background-color: #FFFFFF;
}
/*-------*/





/*Content*/
#box-postContent {
	position: absolute;
	top: 13.02%;
	left: 25.18%;

	width: 43.26%;
	height: 20%;/*17.05%;*/

	border-radius: 5px;
	padding: 0px;


	/*background-color: #F07241;*/
}

#box-postContent textarea {
	position: absolute;

	width: 95.5%;/*96.61%;*/
	height: 47%;/*59.54%;*/

	border-radius: 7px;
	padding: 4px;
	margin: 1.50%;
	background-color: #FFFFFF;

	font-family: Gotham Light;
	font-size: 14px;
	resize: none;
}

#box-postContent button {
	position: absolute;
	top: 60%;
	right: 0%;

	width: 18%;
	height: 20%;

	border-radius: 5px;
	padding: 4px;
	border-width: 1px;
	margin: 1.50%;

	background-color: #C04848;
	color: #FFFFFF;

	font-family: Gotham Light;
	font-size: 14px;
}

#box-postContent > .rating {
	position: absolute;
	top: 55%;
	
	font-size: 35px;
}
/*-------*/

/*! START:NEW !*/
#box-title textarea {
	position: absolute;

	width: 95.5%;
	height: 11.8%;

	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom: 1px solid #C04848;
	padding: 4px;
	margin: 1.50%;
	/*margin-bottom: 5%;*/
	background-color: #FFFFFF;

	font-family: Gotham;
	font-size: 14px;
	resize: none;
	font-weight: bolder;
}
/*! END:NEW !*/

/*! START:NEW !*/
#box-content textarea {
	position: absolute;

	width: 95.5%;
	height: 30%;/*59.54%;*/ /*! NEW !*/

	border-bottom-left-radius: 7px; /*! NEW ! */
	border-bottom-right-radius: 7px; /*! NEW !*/
	padding: 4px;
	margin: 1.50%;
	margin-top: 6%; /*! NEW !*/
	background-color: #FFFFFF;

	font-family: Gotham Light;
	font-size: 14px;
	resize: none;
}
/*! END:NEW !*/

/*Ranking*/
#box-ranking {
	position: absolute;
	top: 8.59%;/*6.38%;*/
	right: 5.75%;

	/* width: 24.37%;
	height: 59.24%; /*455px*/
	
	width: 20%;/*24.37%;*/
	height: 59.24%;

	background-color: #FFFFFF;
}

#box-ranking h1 {
	position: static;
	margin: 0px;

	width: 100%;
	height: 7%;/*10.32%;*/

	background-color: #FFFFFF;
	font-size: 23px;
	font-family: Gotham Light;
	color: #300030;
}

#box-ranking1 {
	position: static;

	width: 100%;
	height: 22.41%;

	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding-top: 0px;

	background-color: #300030;
}

#box-ranking2 {
	position: static;

	width: 100%;
	height: 22.41%;

	background-color: #480048;
}

#box-ranking3 {
	position: static;

	width: 100%;
	height: 22.41%;

	background-color: #601848;
}

#box-ranking4 {
	position: static;

	width: 100%;
	height: 22.41%;

	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-bottom: 0px;

	background-color: #C04848;
}

.ranking-post {
	position: absolute;
	
	width: 95%;
	height: 19%;

	border-radius: 5px;
	padding: 0%;
	margin: 2%;

	background-color: #FFFFFF;
	background: rgba(255, 255, 255, 0.35);
}

.ranking-postProfPic {
	position: static;
	float: left;

	width: 29.18%;
	height: 90%;

	border-radius: 5px;
	padding: 0px;
	margin: 1.5%;

	background-color: #AAAAAA;
}

/* .ranking-postText {
	position: static;
	
	width: 70%;
	height: 65%;
} */

.ranking-post textarea {
	position: static;

	width: 85.82%;
	height: 20%;

	border-radius: 5px;
	padding: 0px;
	margin-bottom: 3.5%;

	background-color: #FFFFFF;
}
/*-------*/




/*Following/Followers*/
#text-followers, #text-following,
#text-suggestions, #text-rankings {
	position: absolute;
	
	width: 100%;
	height: 23%;

	border-top-right-radius: 5px;
	border-top-left-radius: 5px;

	background-color: #930F40;
	font-family: Gotham Light;
}
#text-rankings {
	height: 9%;
}
#text-suggestions {
	height: 18%;
	background-color: #F07241;
}

#text-following {
	background-color: #60B0E3;
}

#text-followers label, #text-following label,
#text-suggestions label, #text-rankings label{
	display: block;
	text-align: center;
	padding-top: 1%;

	color: #FFFFFF;
	font-size: 14px;
}

#text-rankings label{
	font-size: 24px;
}


#box-following {
	position: absolute;
	top: 69%; 
	left: 2.63%;

	width: 17.56%;
	height: 13.80%;

	background-color: #E2E1EA;
	padding: 0px;
	border-radius: 5px;
}

#more-following {
	position: absolute;

	top: 73%;
	width: 100%;
	height: 23%;

	background-color: transparent;
}

#more-following button {
	position: absolute;
	right: 8.75%;

	width: 24%;
	height: 100%;

	color: #60B0E3;
	border: 0;
	font-family: Gotham Light;
	background-color: transparent;
}

#more-following button:hover {
	color: #FFFFFF;
	background-color: #60B0E3;
}

#box-followingSuggestions {
	position: static;

	width: 94%;
	height: 59%;

	background-color: #E2E1EA;
	padding-top: 11%;
	padding-left: 6.25%;
	border-radius: 5px;

}

#box-following1 {
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-following2 {	
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-following3 {
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-following4 {
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-following5 {
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-followers {
	position: absolute;
	top: 84%;
	left: 2.63%;

	width: 17.56%;
	height: 13.80%;

	background-color: #E2E1EA;
	padding: 0px;
	border-radius: 5px;
}

#more-followers {
	position: absolute;

	top: 73%;
	width: 100%;
	height: 23%;

	background-color: transparent;
}

#more-followers button {
	position: absolute;
	right: 8.75%;

	width: 24%;
	height: 100%;

	color: #930F40;
	border: 0;
	font-family: Gotham Light;
	background-color: transparent;
}

#more-followers button:hover {
	color: #FFFFFF;
	background-color: #930F40;
}

#box-followerSuggestions {
	position: static;

	width: 94%;
	height: 59%;

	background-color: #E2E1EA;
	padding-top: 11%;
	padding-left: 6.25%;
	border-radius: 5px;

}
.box-follower img,
.box-following img {
	width: 100%;
	height: 100%;
}
#box-follower1 {
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-follower2 {	
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-follower3 {
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-follower4 {
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-follower5 {
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}
/*-------*/





/*Overlay*/

#all-followers, #all-following {
	display: none;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	margin: auto;
	background-color: rgba(0, 0, 0, 0.80);
}

#overlay-followers, #overlay-following {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	width: 400px;
	height: 400px;
	margin: auto;

	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	background-color: #E2E1EA;
}

#overlay-followers-text, #overlay-following-text{
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	width: 100%;
	height: 8%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1.5%;

	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: #930F40;
}

#overlay-following-text {
	background-color: #60B0E3;
}

#overlay-followers-text label, #overlay-following-text label{
	display: block;
	text-align: center;

	font-family: Gotham Light;
	font-size: 20px;
	
	color: #FFFFFF;
}
a:link {
    color: #333333;
}
a:visited {
    color: #333333;
}
a:hover {
    color: #333333;
}
a:active {
    color: #333333;
}

#overlay-followers-close, #overlay-following-close{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	width: 30px;
	height: 30px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 90%;

	font-family: Gotham Light;
	font-size: 20px;

	border: 0;
	border-radius: 50%;
	color: #FFFFFF;
	background-color: transparent;930F40
}

#overlay-followers-close:hover,
#overlay-following-close:hover {
	color: #930F40;
	background-color: #FFFFFF;
}
#overlay-following-close:hover {
	color: #60B0E3;
}

#overlay-inner-followers,
#overlay-inner-following {
	position: relative;
	z-index: 100;

	top: 0;
	left: 0;
	bottom: 0;
	right: 0;


	width: 366px;
	height: 312px;

	margin: auto;
	margin-top: 38px;

	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 34px;

	background-color: #FFFFFF;
	overflow-y: auto;
}

.box-overlay-inner-followers,
.box-overlay-inner-following {
	position: relative;
	display: inline-block;

	width: 80px;
	height: 80px;
	
	margin: 14px;
	margin-top: 9px;
	margin-bottom: 19px;

	border-radius: 5px;
	background-color: #E2E1EA;
}
.box-overlay-inner-followers img,
.box-overlay-inner-following img{
	width: 80px;
	height: 80px;
}
.box-overlay-inner-followers label,
.box-overlay-inner-following label{
	position: relative;
	display: inline-block;
	text-align: center;
	
	width: 100%;
	align: center;
	font-family: Gotham Light;
	font-size: 14px;
	
	white-space: nowrap;
 	 overflow: hidden;
	text-overflow: ellipsis;
}
/*-------*/





/*Suggested Users*/
#box-suggested {
	position: absolute;
	top: 70.59%;
	right: 5.75%;

	width: 20%;
	height: 19.79%;

	background-color: #FFFFFF;
}

#box-suggestions {
	position: static;

	width: 94%;
	height: 69%;

	background-color: #E2E1EA;
	padding-top: 12%;
	padding-left: 6%;
	border-radius: 5px;

}
.suggested img {
	width: 100%;
	height: 100%;
}

.suggested label {
	width: 100%;
	
	display: block;
	text-align: center;
	padding-top: 1%;

	font-family: Gotham Light;
	font-size: 9px;
}

#box-suggested1 {
	float: left;
	width: 16.21%;
	height: 47.36%;

	margin-right: 3.40%;
	background-color: #300030;
}

#box-suggested2 {	
	float: left;
	width: 16.21%;
	height: 47.36%;

	margin-right: 3.40%;
	background-color: #300030;
}

#box-suggested3 {
	float: left;
	width: 16.21%;
	height: 47.36%;

	margin-right: 3.40%;
	background-color: #300030;
}

#box-suggested4 {
		float: left;
	width: 16.21%;
	height: 47.36%;

	margin-right: 3.40%;
	background-color: #300030;
}

#box-suggested5 {
	float: left;
	width: 16.21%;
	height: 47.36%;

	margin-right: 3.40%;
	background-color: #300030;
}

#box-suggestions-name {
	position: absolute;

	top: 63%;
	width: 100%;
	height: 20%;

	background-color: transparent;
}

#box-suggestions-name label {
	position: absolute;
	left: 0%;
	
	width: 100%;
	height: 100%;
	text-align: center;
	
	border: 0;
	font-family: Gotham Light;
	color: #F07241;
	background-color: transparent;
	display: none;
}

#box-suggestions-change {
	position: absolute;

	top: 63%;
	width: 100%;
	height: 20%;

	background-color: transparent;
}

#box-suggestions-change button {
	position: absolute;
	right: 9%;

	width: 30%;
	height: 100%;

	border: 0;
	font-family: Gotham Light;
	color: #F07241;
	background-color: transparent;
}

#box-suggestions-change button:hover {
	color: #FFFFFF;
	background-color: #F07241;
}
/*-------*/




/*Rating*/
.rating {
	unicode-bidi: bidi-override;
	direction: rtl;

	position: relative;
	bottom: 40%;
	right: 1%;
	font-family: Gotham Light;
	font-size: 24px;
}

.rating > span {
	display: inline-block;
	position: relative;

	color: #AAAAAA;
	width: 1.1em;
}

.rate5:hover,
.rate5:before {
	color: #300030;
}


.rate4:hover,
.rate4:before {
	color: #480048;
}

.rate3:hover,
.rate3:before {
	color: #601848;
}

.rate2:hover,
.rate2:before {
	color: #C04848;
}

.rate1:hover {
	color: #F07241; /*Red Orange*/
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
	content: "\2605";
	position: absolute;
}