html {
	position: relative;
	max-width: 1366px;
	max-height: 100vh;

	width: 1366px;

	min-width: 800px;
	min-height: 677px;	
}

/*Search Bar*/
#search {
	position: absolute;
	top: 26.53%;
	left: 72.18%;

	width: 15.37%;
	height: 48.97%;
}

#search button {
	position: absolute;
	left: 88%;

	width: 12%;
	height: 112%;
	
	padding-right: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px; 

	border: none;
}

#searchBar {
	position: absolute;
	width: 92.80%;
	height: 100%;

	background-color: #FFFFFF;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px; 
	padding-left: 3px;
	margin-left: -3px;

	font-size: 12px;
	font-family: Gotham Light;

	border: none;
}
/*-------*/




/*Profile Pic*/
#box-profPic {
	position: absolute;
	top: 7.07%;
	left: 2.63%;

	width: 17.56%;
	height: 34.45%;
}

#box-profPic1 {
	position: absolute;

	width: 86.66%;
	height: 86.66%;

	border-radius: 5px;
	padding: 0px;

	background-color: #300030;
}

#box-profPic2 {
	position: absolute;
	right: 0%;
	bottom: 0%;

	width: 86.66%;
	height: 86.66%;

	border-radius: 5px;
	padding: 0px;

	background-color: #FFFFFF;
}

#box-profPicture {
	position: absolute;

	width: 90.39%;
	height: 90.39%;

	margin: 2.4%;
	padding: 2.4%;
	background-color: #480048;
}

#box-profPicture img {
	position: absolute;

	width: 100%;
	height: 100%;

	margin: -2.4%;
	padding: -2.4%;
}
/*-------*/





/*Profile Desc*/
#box-username {
	position: absolute;
	top: 41.97%;
	left: 2.63%;

	width: 17.56%;
	height: 5.20%;

	text-align: center;
	vertical-align: middle;
	line-height: 100%;

	font-family: Gotham Light;
	font-size: 24px;
}

.button-follow {
	position: absolute;
	top: 47.17%;
	left: 2.63%;

	width: 17.56%;
	height: 5.20%;

    background-color: #4CAF50;
    color: #FFFFFF;
    border:  none;
    padding: 4px;

    text-align: center;
    text-decoration: none;
    font-family: Gotham Light;
    font-size: 16px;
}
/*-------*/





/*Posts*/
#box-filterView {
	position: absolute;
	top: 5.07%;
	left: 25.18%;

	width: 43.26%;
	height: 7.03%;

	border-radius: 5px;
	padding: 0px;

	background-color: #C04848;
}

#box-filterView button {
	position: static;

	width: 23%;
	height: 100%;

	background-color: #C04848;
	font-family: Gotham Light;
	font-size: 15px;
	color: #FFFFFF;

	margin-left: 1.19%;
	border: none;
}

#box-postContainer {
	position: absolute;
	top: 31.51%;
	left: 24.45%;

	width: 40.72%;
	height: 58.53%;

	border-radius: 5px;
	padding: 2%;

	background-color: #E2E1EA;
	overflow-y: auto;
}

.box-user {
	position: relative;
	display: inline-block;

	width: 120px;
	height: 220px;

	margin-left: 2.5%;
	border-radius: 5px;
	padding: 0px;
	margin-bottom: 3.5%;

	background-color: #FFFFFF;
}
/*
.box-user label{
	display: block;
	width: 100%;
	text-align: center;
	
	font-family: Gotham Light;
	font-size: 14px;
}
*/
.box-userLabel{
	width: 110px;
	height: 20px;
	
	border: 0;
	margin-top: 5px;
	margin-left: 5px;
	
	line-height: 20px;
	text-align: center;	
	
	font-family: Gotham Light;
	font-size: 12px;
	color: #FFFFFF;
		
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: rgba(0, 0, 0, 0.70);
}
.box-userPicture {
	width: 110px;
	height: 110px;
	margin: 0 auto;
	margin-bottom: 5px;
	
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #E2E1EA;
}
.box-userPicture img{
	width: 110px;
	height: 110px;
}

.box-userDesc {
	position: absolute;
	margin-left: 5px;

	width: 110px;
	height: 60px;
	

	font-family: Gotham Light;
	font-size: 13px;
	background-color: transparent;

	word-wrap: break-word;
/*	white-space: nowrap; */
	overflow: hidden;
	text-overflow: clip;

}
.box-post {
	position: static;

	width: 96%;
	height: 14%;

	margin-left: 2%;
	border-radius: 5px;
	padding: 0px;
	margin-bottom: 3.5%;

	background-color: #FFFFFF;
}
.box-post hr {
	width: 425px;
	margin: 0;
	margin-top: -5px;
	margin-left: 87px;
	margin-bottom: 1px;
}
.box-postTitle {
	display: block;
	width: 430px;
	height: 20px;

	margin-top: -70px;
	margin-left: 85px;
	vertical-align: middle;
	line-height: 100%;

	font-size: 13px;
	font-family: Gotham;
	font-weight: bolder;
	
}
.box-postContent {
	display: block;
	width: 430px;
	height: 45px;

	margin-left: 85px;
	vertical-align: middle;
	line-height: 100%;

	font-family: Gotham Light;
	font-size: 13px;
	
	overflow-y: auto;
	
}

.box-postProfPic {
	position: static;

	width: 80px;
	height: 100%;

	border-radius: 5px;
	padding: 0px;

	background-color: #AAAAAA;
}

.box-postLabel {
	width: 80px;
	height: 23%;
	
	border: 0;	
	line-height: 20px;
	text-align: center;	
	
	font-family: Gotham Light;
	font-size: 12px;
	color: #FFFFFF;
		
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: rgba(0, 0, 0, 0.70);
}

.box-postProfPic img{
	width: 80px;
	height: 80px;
	
	margin-top: -19px;
}

.box-post textarea {
	position: static;

	width: 85.82%;
	height: 20%;

	border-radius: 5px;
	padding: 0px;
	margin-bottom: 3.5%;

	background-color: #FFFFFF;
}
/*-------*/


/*Search Tabs*/

#box-filterSearch {
	position: absolute;
	top: 6.75%;
	left: 25%;/*21.68%;*/

	width: 7.03%;
	height: 41.26%;

	border-radius: 5px;
	padding: 0px;

	background: none;
}

#box-filterSearch button {
	position: static;

	width: 100%;
	height: 25%;
	
	font-family: Gotham Light;
	font-size: 15px;
	color: #FFFFFF;

	margin-top: 0%;
	margin-bottom: 4%;
	border-radius: 5px;
	border-width: 0px;
}

#search-filter1 {
	border-color: #60B0E3;
	background-color: #60B0E3;
}

#search-filter2 {
	border-color: #930F40;
	background-color: #930F40;
}

#search-filter3 {
	border-color: #601848;
	background-color: #601848;
}

#search-filter4 {
	border-color: #C04848;
	background-color: #C04848;
}
/*-------*/


/*Content*/
.box-searchResults-label {
	display: block;
	z-index: 999;
	
	width: 100%;
	height: 5%;
	text-align: center;

	font-family: Gotham Light;
	font-size: 16px;

	color: #FFFFFF;
}
#result1{
	background-color: #60B0E3;
}
#result2{
	background-color: #930F40;
}
#result3{
	background-color: #601848;
}
#result4{
	background-color: #C04848;
}

.box-searchResults {
	width: 100%;
	height: 93%;
	
	padding-top: 2%;
	overflow-y: auto;
}

#box-searchResults1 {
	position: absolute;
	top: 5.07%;
	left: 28%;/*25.18%;*/

	border-radius: 5px;
	
	width: 40.72%;
	height: 90%;

	border: 5px solid;
	border-width: 5px;
	border-color: #60B0E3;

	background-color: #E2E1EA; 
}

#box-searchResults2 {
	position: absolute;
	top: 5.07%;
	left: 28%;/*25.18%;*/

	border-radius: 5px;
	
	width: 40.72%;
	height: 90%;

	border: 5px solid;
	border-width: 5px;
	border-color: #930F40;

	background-color: #E2E1EA; 
}

#box-searchResults3 {
	position: absolute;
	top: 5.07%;
	left: 28%;/*25.18%;*/

	border-radius: 5px;
	
	width: 40.72%;
	height: 90%;

	border: 5px solid;
	border-width: 5px;
	border-color: #601848;

	background-color: #E2E1EA; 
}

#box-searchResults4 {
	position: absolute;
	top: 5.07%;
	left: 28%;/*25.18%;*/

	border-radius: 5px;
	
	width: 40.72%;
	height: 90%;

	border: 5px solid;
	border-width: 5px;
	border-color: #C04848;

	background-color: #E2E1EA; 
}

#box-postContent {
	position: absolute;
	top: 13.02%;
	left: 25.18%;

	width: 43.26%;
	height: 17.05%;

	border-radius: 5px;
	padding: 0px;

	background-color: #F07241;
}

#box-postContent textarea {
	position: absolute;

	width: 95.5%;
	height: 59.54%;

	border-radius: 7px;
	padding: 4px;
	margin: 1.50%;
	background-color: #FFFFFF;

	font-family: Gotham Light;
	font-size: 14px;
	resize: none;
}
/*-------*/





/*Ranking*/
#box-ranking {
	position: absolute;
	top: 8.59%;/*6.38%;*/
	right: 5.75%;

	/* width: 24.37%;
	height: 59.24%; /*455px*/
	
	width: 20%;/*24.37%;*/
	height: 59.24%;

	background-color: #FFFFFF;
}

#box-ranking h1 {
	position: static;
	margin: 0px;

	width: 100%;
	height: 7%;/*10.32%;*/

	background-color: #FFFFFF;
	font-size: 23px;
	font-family: Gotham Light;
	color: #300030;
}

#box-ranking1 {
	position: static;

	width: 100%;
	height: 22.41%;

	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding-top: 0px;

	background-color: #300030;
}

#box-ranking2 {
	position: static;

	width: 100%;
	height: 22.41%;

	background-color: #480048;
}

#box-ranking3 {
	position: static;

	width: 100%;
	height: 22.41%;

	background-color: #601848;
}

#box-ranking4 {
	position: static;

	width: 100%;
	height: 22.41%;

	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-bottom: 0px;

	background-color: #C04848;
}

.ranking-post {
	position: absolute;
	
	width: 95%;
	height: 19%;

	border-radius: 5px;
	padding: 0%;
	margin: 2%;

	background-color: #FFFFFF;
	background: rgba(255, 255, 255, 0.35);
}

.ranking-postProfPic {
	position: static;
	float: left;

	width: 29.18%;
	height: 90%;

	border-radius: 5px;
	padding: 0px;
	margin: 1.5%;

	background-color: #AAAAAA;
}

.ranking-post textarea {
	position: static;

	width: 85.82%;
	height: 20%;

	border-radius: 5px;
	padding: 0px;
	margin-bottom: 3.5%;

	background-color: #FFFFFF;
}
/*-------*/





/*Following/Followers*/
#text-followers, #text-following,
#text-suggestions, #text-rankings {
	position: absolute;
	
	width: 100%;
	height: 23%;

	border-top-right-radius: 5px;
	border-top-left-radius: 5px;

	background-color: #930F40;
	font-family: Gotham Light;
}
#text-rankings {
	height: 9%;
}
#text-suggestions {
	height: 18%;
	background-color: #F07241;
}

#text-following {
	background-color: #60B0E3;
}

#text-followers label, #text-following label,
#text-suggestions label, #text-rankings label{
	display: block;
	text-align: center;
	padding-top: 1%;
	color: #FFFFFF;
	font-size: 14px;
}

#text-rankings label{
	font-size: 24px;
}


#box-following {
	position: absolute;
	top: 68%;
	left: 2.63%;

	width: 17.56%;
	height: 13.80%;

	background-color: #E2E1EA;
	padding: 0px;
	border-radius: 5px;
}

#box-followingSuggestions {
	position: static;

	width: 94%;
	height: 59%;

	background-color: #E2E1EA;
	padding-top: 11%;
	padding-left: 6.25%;
	border-radius: 5px;

}

#box-following1 {
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-following2 {	
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-following3 {
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-following4 {
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-following5 {
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-followers {
	position: absolute;
	top: 84.28%;
	left: 2.63%;

	width: 17.56%;
	height: 13.80%;

	background-color: #E2E1EA;
	padding: 0px;
	border-radius: 5px;
}


#box-followerSuggestions {
	position: static;

	width: 94%;
	height: 59%;

	background-color: #E2E1EA;
	padding-top: 11%;
	padding-left: 6.25%;
	border-radius: 5px;

}

#box-follower1 {
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-follower2 {	
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-follower3 {
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-follower4 {
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}

#box-follower5 {
	float: left;
	width: 16.21%;
	height: 67%;

	margin-right: 2.40%;
	background-color: #300030;
}
/*-------*/


/*Suggested Users*/
#box-suggested {
	position: absolute;
	top: 70.59%;
	right: 5.75%;

	width: 20%;
	height: 19.79%;

	background-color: #FFFFFF;
}

#box-suggestions {
	position: static;

	width: 94%;
	height: 69%;

	background-color: #E2E1EA;
	padding-top: 12%;
	padding-left: 6%;
	border-radius: 5px;

}

.suggested img {
	width: 100%;
	height: 100%;
}

.suggested label {
	width: 100%;
	
	display: block;
	text-align: center;
	padding-top: 1%;

	font-family: Gotham Light;
	font-size: 9px;
}


#box-suggested1 {
	float: left;
	width: 16.21%;
	height: 47.36%;

	margin-right: 3.40%;
	background-color: #300030;
}

#box-suggested2 {	
	float: left;
	width: 16.21%;
	height: 47.36%;

	margin-right: 3.40%;
	background-color: #300030;
}

#box-suggested3 {
	float: left;
	width: 16.21%;
	height: 47.36%;

	margin-right: 3.40%;
	background-color: #300030;
}

#box-suggested4 {
		float: left;
	width: 16.21%;
	height: 47.36%;

	margin-right: 3.40%;
	background-color: #300030;
}

#box-suggested5 {
	float: left;
	width: 16.21%;
	height: 47.36%;

	margin-right: 3.40%;
	background-color: #300030;
}

#box-suggestions-name {
	position: absolute;

	top: 63%;
	width: 100%;
	height: 20%;

	background-color: transparent;
}

#box-suggestions-name label {
	position: absolute;
	left: 0%;
	
	width: 100%;
	height: 100%;
	text-align: center;
	
	border: 0;
	font-family: Gotham Light;
	color: #F07241;
	background-color: transparent;
	display: none;
}

#box-suggestions-change {
	position: absolute;

	top: 63%;
	width: 100%;
	height: 20%;

	background-color: transparent;
}
#box-suggestions-change button {
	position: absolute;
	right: 9%;

	width: 30%;
	height: 100%;

	border: 0;
	font-family: Gotham Light;
	color: #F07241;
	background-color: transparent;
}

#box-suggestions-change button:hover {
	color: #FFFFFF;
	background-color: #F07241;
}
/*-------*/


/*Ads*/
#box-ad1 {
	position: absolute;
	top: 8.80%;
	left: 2.63%;

	width: 17.56%;
	height: 37.30%;

	background-color: #E2E1EA;
	padding: 0px;
	border-radius: 5px;
}

#box-ad2 {
	position: absolute;
	top: 49.78%;
	left: 2.63%;

	width: 17.56%;
	height: 37.30%;

	background-color: #E2E1EA;
	padding: 0px;
	border-radius: 5px;
}
/*-------*/